<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renvo | Login</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="desktop">
        <div class="mainDiv">
            <div class="section1">
                <img src="Images/Images/main2.jpg" alt="">
            </div>
            <div class="section2">
                <div class="card">
                    <div class="logo">
                        <img src="Images/Icons/1-01.jpg" alt="">
                        <div>
                            <h1>RENVO</h1>
                            <h3>eNav Beta by Renvo</h3>
                        </div>
                    </div>
                    <h1>Sign In</h1>
                    <h3>Please sign in to continue.</h3>
                    <button class="signIn"><span><img src="Images/Icons/google.svg" alt=""></span><span class="lineInBetween"></span><span class="signInGoogle">Sign In with Google</span></button>
                    <p class="leftRightStick greyChoice">Or Sign In with Email</p>
                    <input class="inputField mt-3" type="email" placeholder="Email">
                    <input class="inputField mt-1" type="password" placeholder="Password">
                    <div class="checkboxRemmembermeForgotPassword">
                        <div class="checkboxRememberme">
                            <input class="checkbox" type="checkbox">
                            <h3 class="remmember">Remember me</h3>
                        </div>
                        <h3 href="#"><a href="#" class="forgotPassword">Forgot password?</a></h3>
                    </div>
                    <a href="classroomAdmin"><button class="login">Login</button></a>
                    <a href="signup"><button class="signUp">Sign Up</button></a>
                </div>
                <h3 class="signCopyright">Copyright © 2020-2021 RENVO</h3>
            </div>
        </div>
    </div>
    
<!-- Display for Mobile -->

    <div class="mobile">
        <div class="mainDiv">
            <div class="section1">
                <img src="Images/Images/main2.jpg" alt="">
            </div>
            <div class="section2">
                <div class="card">
                    <div class="logo">
                        <img src="Images/Icons/1-01.jpg" alt="">
                        <div>
                            <h1>RENVO</h1>
                            <h3>eNav Beta by Renvo</h3>
                        </div>
                    </div>
                    <h1>Sign In</h1>
                    <h3>Please Sign in to continue.</h3>
                    <button class="signIn"><span><img src="Images/Icons/google.svg" alt=""></span><span class="lineInBetween"></span><span class="signInGoogle">Sign In with Google</span></button>
                    <p class="leftRightStick greyChoice">Or Sign In with Email</p>
                    <div class="email-password">
                        <input class="inputField mt-3" type="email" placeholder="Email">
                        <input class="inputField mt-1" type="password" placeholder="Password">
                    </div>
                    <div class="checkboxRemmembermeForgotPassword">
                        <input class="checkboxMobile" type="checkbox">
                        <h3 class="remmember">Remember me</h3>
                        <h3 href="#" class="forgotPassword"><a href="#">Forgot password?</a></h3>
                    </div>
                    <a href="classroomAdmin"><button class="login">LOG IN</button></a>
                    <a href="/signup"><button class="signUp">Sign Up</button></a>
                </div>
                <h3 class="signCopyright">Copyright © 2020-2021 RENVO</h3>
            </div>
        </div>
    </div>
    
</body>
</html>