<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/myDrives.css">
    <title>Renvo | My Drives</title>
</head>
<body>

    <div class="desktop">
        <nav>
            <a href="classroomAdmin">
                <div class="navlogo">
                <img src="Images/Icons/1-01.jpg" alt="">
                <div>
                    <h1>RENVO</h1>
                    <h3>eNav Beta by Renvo</h3>
                </div>    
            </div>
            </a>
            <div class="navList">
                <ul>
                    <li><a href="classroomAdmin">Classroom Admin</a></li>
                    <li class="active"><a href="myDrives">My Drives</a></li>
                    <li>Friends <span class="comingSoon">Coming Soon</span></li>
                    <li class="myAccount"><a href="myAccount">My Account</a></li>
                    <li class="lastList"><a href="contactUs">Contact Us</a></li>
                </ul>
            </div>
            <button><a>Logout</a></button>
        </nav>
        <div class="mainBody">
            <h1 class="mainh1">My Drives</h1>
            <div class="topReel">
                <div>
                    <a href="#"><h3 class="activeReel">Solo Drive</h3></a>
                    <a href="myDrivesClassrooms"><h3>Class Rooms</h3></a>
                    <a href="myDrivesMeetups"><h3>Meetups</h3></a>
                </div>
            </div>
            <h2>Solo Drive</h2>
            <div class="miniContainer">
                <h2>Vessel Connection</h2>
                <p>To connect your vessel to your nautical chart software(ECS/ECDIS), select your software form dropdown menu, follow the instructions, then click the steaering wheel to get driving.</p>
                <h3>ECS/ECDIS Connection Instructions</h3>
                <button class="generalBtn"><h3>General</h3> <img src="Images/Icons/dropdown.svg" alt=""></button>
                <ul class="numberedList">
                    <li>1. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                    <li>2. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                    <li>3. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                    <li>4. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                </ul>
                <button class="getDrivingBtn">
                <img src="Images/Icons/Link 1.svg" alt="">
                <h3>Get Driving</h3>
                </button>
            </div>
        </div>
        <h1 class="copyright">Copyright © 2020-2021 RENVO</h1>
    </div>

    <!-- Mobile -->

    <div class="mobile">
        <nav>
            <a href="classroomAdmin">
                <div class="navlogo">
                    <img src="Images/Icons/1-01.jpg" alt="">
                    <div>
                        <h1>RENVO</h1>
                        <h3>eNav Beta by Renvo</h3>
                    </div>    
                </div>
            </a>
            <div id="navList" class="navList">
                <ul>
                    <li><a href="classroomAdmin">Classroom Admin</a></li>
                    <li class="active"><a href="myDrivesMeetups">My Drives</a></li>
                    <li>Friends <span class="comingSoon">Coming Soon</span></li>
                    <li class="myAccount"><a href="myAccount">My Account</a></li>
                    <li class="lastList"><a href="contactUs">Contact Us</a></li>
                </ul>
            </div>
            <div class="menu">
                <img onclick="navBarToggle()" class="menuIcon" src="Images/Icons/Menu.svg" alt="">
            </div>
            <img class="logout" src="Images/Icons/logout.svg" alt="">
        </nav>
        <div class="mainBody">
            <h1 class="mainh1">My Drives</h1>
            <div class="topReel">
                <div>
                    <a href="#"><h3 class="activeReel">Solo Drive</h3></a>
                    <a href="myDrivesClassrooms"><h3>Class Rooms</h3></a>
                    <a href="myDrivesMeetups"><h3>Meetups</h3></a>
                </div>
            </div>
            <h2>Solo Drive</h2>
            <div class="miniContainer">
                <h2>Vessel Connection</h2>
                <p>To connect your vessel to your nautical chart software(ECS/ECDIS), select your software form dropdown menu, follow the instructions, then click the steaering wheel to get driving.</p>
                <h3>ECS/ECDIS Connection Instructions</h3>
                <button class="generalBtn"><h3>General</h3> <img src="Images/Icons/dropdown.svg" alt=""></button>
                <ul class="numberedList">
                    <li>1. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                    <li>2. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                    <li>3. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                    <li>4. Lorem ipsum dolor ut  vero itaque nulla aliquam tempora.</li>
                </ul>
                <button class="getDrivingBtn">
                <img src="Images/Icons/Link 1.svg" alt="">
                <h3>Get Driving</h3>
                </button>
            </div>
        </div>
        <h1 class="copyright">Copyright © 2020-2021 RENVO</h1>
    </div>
    <script src="js/main.js"></script>

    
</body>
</html>