body{
    background-color: var(--greybackground);
}

.desktop .copyright{
    position: relative;
}

ul .active::after {
    width: 100%;
    margin-left: 0;
}

nav .menuIcon, nav .logout{
    width: 30px;
    height: 30px;
}

.menu,.logout{
    display: none;
}

.desktop .mainBody h2{
    margin-top: 0;
}

.topLane{
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topLane button{
    cursor: pointer;
    font-family: sf-regular;
    font-size: 23px;
    border: none;
    color: #fff;
    background-color: var(--blue);
    padding: 27px 45px;
    border-radius: 10px;
}

.mainContainer{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 25px;
    padding-bottom: 40px;
}

.mainContainer .innerContainer{
    padding: 40px;
}

.mainBody .mainContainer h2{
    font-size: 32px;
    padding: 15px 0;
}

.lanes{
    border-top: 2px solid rgb(241, 241, 241);
    border-bottom: 2px solid rgb(241, 241, 241);
    margin-top: 15px;
}

.miniLane{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.miniLane h3{
    font-size: 23px;
    font-family: sf-regular;
    color: rgb(135, 135, 135);
}

.miniLane img{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.miniLane h3 span{
    color: #000;
}

.participantLane{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.participantLane button{
    font-family: sf-semibold;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background-color: white;
    border-radius: 15px;
    border: 1.5px solid #2765FF;
    font-size: 22px;
    padding: 15px 25px;
}

.participantLane button svg{
    margin-right: 10px;
    color: var(--blue);
}

.table{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    border: 1px solid rgb(230, 230, 230);
}

.table div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.headerRow{
    width: 100%;
    background-color: #F8F8FA;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.headerRow h3{
    font-family: sf-regular;
    font-size: 20px;
    padding: 25px 25px;
    padding-right: 0px;
    border-right: 1px solid rgb(230, 230, 230);
    color: rgb(140, 140, 140);
}

.headerRow .lastRowElement{
    border-right: none;
}

#list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subRow{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subRow h3{
    font-family: sf-light;
    font-size: 24px;
    padding: 25px 25px;
    padding-right: 0px;
    border-right: 1px solid rgb(230, 230, 230);
    color: black;
}

.table .subRow .actionSubRow{
    cursor: pointer;
    color: var(--blue);
    border: none;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.shipName{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.shipName img{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.popup .overlay{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(112, 112, 112, 0.63);
}

.popup .overlay .popupContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 800px;
    height: auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 13px;
}

.popup .overlay .popupContent h2{
    font-size: 37px;
    margin-bottom: 175px;
    padding-top: 10px;
    color: #000;
}

.popupContent .miniLane{
    position: absolute;
    top: 125px;
    margin-left: -40px;
    padding-left: 40px;
}

.popupContent .closeBtn{
    position: absolute;
    top: 45px;
    right: 40px;
    width: 42px;
    height: 42px;
}

.popupContent .form h4{
    font-family: sf-light;
    font-size: 22px;
    color: rgb(158, 158, 158);
    margin-bottom: 20px;
}

.popupContent .form input{
    font-size: 22px;
    width: 100%;
    height: 85px;
    margin-bottom: 35px;
    border-radius: 14px;
    padding-left: 30px;
    border: 2px solid rgb(236, 236, 236);   
}

.popupContent .form input::placeholder{
    font-size: 22px;
    font-family: sf-regular;
    color: rgb(194, 194, 194);
}

.addBtn{
    margin-top: 30px;
    font-family: sf-regular;
    font-size: 22px;
    width: 100%;
    height: 85px;
    color: #fff;
    border: none;
    background-color: var(--blue);
    border-radius: 14px;
}

.popup.active .overlay{
    display: block;
}

.popup.active .popupContent{
    transition: all 300ms ease-in;
    transform: translate(-50%, -50%) scale(1);
}

#popupAddMeetup .overlay .popupContent h2{
    margin-bottom: 40px;
}

#popupAddMeetup .overlay .popupContent .form textarea{
    font-family: sf-regular;
    width: 100%;
    height: 200px;        
    padding-left: 30px;
    padding-top: 30px;
    border: 2px solid rgb(236, 236, 236);   
    border-radius: 14px;
    font-size: 22px;
}

#popupAddMeetup .overlay .popupContent .form textarea::placeholder{
    color: rgb(194, 194, 194);
    font-size: 22px;
    font-family: sf-regular;
}

@media (max-width: 1200px) {
    .topLane button{
        font-size: 18px;
        padding: 20px 40px;
    }
    .subRow h3{
        font-size: 20px;
    }
    .participantLane button{
        font-size: 18px;
        padding: 15px 30px;
    }
}

@media (max-width:1025px) {
    .desktop .copyright{
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 930px) {
    .headerRow h3{
        font-size: 17px;
        padding-left: 15px;
    }
    .subRow h3{
        font-size: 17px;
        padding-left: 15px;
    }
    .miniLane h3{
        font-size: 20px;
    }
    .miniLane img{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 800px) {
    .subRow h3,.headerRow h3{
        font-size: 13px;
        padding: 15px;
    }
    .shipName img{
        width: 20px;
        height: 20px;
    }
    .popup .overlay .popupContent h2{
        font-size: 30px;
    }
    .popup .overlay .popupContent{
        width: 600px;
    }
}

@media (max-width: 620px) {
    .popup .overlay .popupContent{
        width: 400px;
    }
    .popupContent .form input {
        height: 70px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .addBtn{
        border-radius: 10px;
        height: 70px;
    }
    #popupAddMeetup .overlay .popupContent .form textarea {
        border-radius: 10px;
    }
}

@media (max-width: 550px) {
    .miniLane h3{
        font-size: 15px;
    }
    .topLane button{
        font-size: 15px;
        padding: 15px 30px;
    }
    .participantLane button{
        font-size: 15px;
        padding: 10px 20px;
    }
}

@media (min-height: 870px) and (max-width:600px) {
    .desktop .copyright{
        position: absolute !important;
    }
}

@media (max-width:600px) {
    .desktop .copyright{
        position: relative;
    }
    .menu,.logout{
        display: block;
    }
    body .desktop{
        display: block;
    }
    .desktop nav button{
        display: none;
    }
     .desktop nav{
        padding: 0 35px;
        grid-template-columns: 9.5fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    nav .navList,nav button{
        display: none;
    }
    nav .navlogo img{
        width: 90px;
        height: 90px;
    }
    .navlogo div{
        margin-left: -10px;
    }
    nav .navlogo h1{
        font-size: 20px;
        letter-spacing: 10px;
        margin-top: 10px;
    }
    nav .navlogo h3{
        font-size: 10px;
        margin-top: 9.6px;
    }
    .topLane button{
        padding: 15px 20px;
        border-radius: 5px;
    }
    .miniLane h3{
        display: flex;
        font-family: sf-thin;
        flex-direction: column;
    }
    .miniLane h3 span{
        font-family: sf-light;
        margin-top: 10px;
    }
    .miniLane img{
        width: 25px;
        height: 25px;
    }
    .mainContainer{
        border-radius: 5px;
        padding-bottom: 0;
    }
    .innerContainer{
        padding: 30px;
        padding-bottom: 0;
    }
    .mainBody .mainContainer h2{
        font-size: 25px;
    }
    .participantLane button{
        font-size: 19px;
        font-family: sf-regular;
        border-radius: 5px;
        padding: 15px 15px;
    }
    .participantLane button svg{
        width: 25px;
        height: 25px;
    }
    .table{
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        border-radius: 0;
    }
    .headerRow{
        border-radius: 0;
    }
    .headerRow h3{
        font-family: sf-light;
    }
    .subRow h3,.headerRow h3{
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    .shipName img{
        width: 25px;
        height: 25px;
    }
    .subRow{
        border-bottom: 1px solid rgb(230, 230, 230);
    }
}

@media (max-width:550px) {
    .subRow h3,.headerRow h3{
        font-size: 16px;
        padding: 15px;
    }
    .shipName img{
        width: 22px;
        height: 22px;
    }
}

@media (max-width:460px) {
    .mainContainer .innerContainer{
        padding: 20px;
    }
    .subRow h3,.headerRow h3{
        font-size: 14px;
        padding: 12px;
    }
    .shipName img{
        width: 20px;
        height: 20px;
    }    
}

@media (max-width:400px) {
    .mainBody .mainContainer h2{
        font-size: 20px;
    }
    .participantLane button{
        font-size: 15px;
        padding: 10px;
    }
    .participantLane button svg{
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width:360px) {
    .mainContainer .innerContainer{
        padding: 20px;
    }
    .participantLane button{
        font-size: 10px;
        border-radius: 10px;
        padding: 2px 5px;
        border-radius: 6px;
    }
    .participantLane button svg{
        width: 17px;
        height: 17px;
    }
    .mainBody .mainContainer h2{
        font-size: 20px;
    }
    .topLane button {
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 6px;
    }
    .subRow h3,.headerRow h3{
        font-size: 8px;
        padding: 8px;
    }
}

@media (max-width:420px) {
    .popup .overlay .popupContent{
        padding: 30px;
        width: 350px;
    }
    .popupContent .closeBtn {
        top: 40px;
        right: 40px;
    }
}

@media (max-width:360px) {
    .popup .overlay .popupContent{
        width: 300px;
        padding: 10px;
        border-radius: 10px;
    }
    .popupContent .closeBtn {
        top: 25px;
        right: 20px;
    }
}